body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #92A8D1;
}
.container{
    display: flex;
    flex-direction: column;
    width:560px;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    border: 1px solid black;
}

.gridElement{
    box-sizing: border-box;
    background-color:white;
    height: calc(var(--grid-height) * 1px);
    width: calc(var(--grid-width) * 1px);
  
}

.hovered{
    background-color: gray;
}

.hovering{
    background-color: aquamarine;
}

.under-grid-container{
    display: flex;
    justify-content: space-evenly;
}